<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Update Details</title>
    <link rel="stylesheet" href="../public/css/form.css" />
  </head>
  <body style="padding: 0px; margin: 0px; background-color: aliceblue">
    <div>
      <h1
        id="school-name"
        style="
          background-color: cadetblue;
          margin: 0px;
          height: 100px;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 50px;
          color: white;
          padding: 0px;
        "
      >
        Teacher Management Application
      </h1>
    </div>
    <div style="background-color: orangered; margin: 0px">
      <hr style="margin: 0px" />
      <hr class="hr" />
    </div>
    <form
      action="http://localhost:5000/add-teacher"
      method="POST"
      style="
        display: flex;
        flex-direction: column;
        border: 1px solid black;
        width: 400px;
        height: 550px;
        border-radius: 5px;
        margin-left: 600px;
        background-color: white;
        margin-top: 0px;
      "
    >
      <div
        style="
          margin-top: 5px;
          margin-top: 60px;
          padding-top: 0px;
          display: flex;
          flex-direction: column;
        "
      >
        <label
          for="fullname"
          style="padding-right: 107px; font-size: larger; padding-left: 30px"
          >Full Name</label
        >
        <input
          type="text"
          name="fullname"
          style="margin-left: 50px; width: 200px; margin-top: 8px; height: 20px"
        />
      </div>
      <div style="margin-top: 10px">
        <label
          for="age"
          style="padding-right: 169px; font-size: larger; padding-left: 30px"
          >Age</label
        >
        <input
          type="number"
          name="age"
          style="margin-left: 50px; width: 200px; margin-top: 5px; height: 20px"
        />
      </div>
      <div style="margin-right: 50px; margin-top: 10px">
        <label
          for="date_of_birth"
          style="padding-right: 79px; font-size: larger; padding-left: 30px"
          >Date of Birth</label
        >
        <input
          type="date"
          name="date_of_birth"
          style="margin-left: 50px; width: 200px; margin-top: 5px; height: 20px"
        />
      </div>
      <div style="margin-top: 10px">
        <label
          for="number_of_classes"
          style="padding-right: 30px; font-size: larger; padding-left: 30px"
          >Number of classes</label
        >
        <input
          type="number"
          name="number_of_classes"
          style="margin-left: 52px; width: 200px; margin-top: 5px; height: 20px"
        />
      </div>
      <div style="margin-top: 10px">
        <label
          for="subject"
          style="padding-right: 135px; font-size: larger; padding-left: 30px"
          >Subject</label
        >
        <input
          type="text"
          name="subject"
          style="margin-left: 52px; width: 200px; margin-top: 5px; height: 20px"
        />
      </div>
      <div style="margin-top: 10px">
        <label
          for="experience"
          style="padding-right: 100px; font-size: larger; padding-left: 30px"
          >Experience</label
        >
        <input
          type="number"
          name="experience"
          style="margin-left: 52px; width: 200px; margin-top: 5px; height: 20px"
        />
      </div>

      <input
        type="submit"
        value="Add Details"
        style="
          margin-top: 30px;
          margin-bottom: 5px;
          margin-left: 100px;
          height: 30px;
          width: 150px;
          background-color: rgb(141, 66, 211);
          border-radius: 3px;
          border: 1px solid rgb(141, 66, 211);
          color: white;
          font-size: 20px;
        "
      />
    </form>
  </body>
</html> -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Details</title>
    <style>
      body {
        padding: 0;
        margin: 0;
        background-color: aliceblue;
      }

      #school-name {
        background-color: cadetblue;
        margin: 0;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2em;
        color: white;
      }

      .hr {
        margin: 0;
      }

      form {
        display: flex;
        flex-direction: column;
        border: 1px solid black;
        width: 400px;
        height: 550px;
        border-radius: 5px;
        margin: 60px auto;
        background-color: white;
      }

      form > div {
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
        padding: 0 20px;
      }

      label {
        font-size: 1.2em;
      }

      input[type="text"],
      input[type="number"],
      input[type="date"] {
        width: 60%;
        height: 20px;
        padding: 5px;
      }

      input[type="submit"] {
        margin: 30px auto 10px;
        width: 150px;
        height: 30px;
        background-color: rgb(141, 66, 211);
        border-radius: 3px;
        border: 1px solid rgb(141, 66, 211);
        color: white;
        font-size: 1.2em;
      }

      input[type="submit"]:hover {
        background-color: rgb(111, 36, 191);
        cursor: pointer;
      }
    </style>
  </head>
  <body>
    <div>
      <h1 id="school-name">Teacher Management Application</h1>
    </div>
    <div style="background-color: orangered">
      <hr class="hr" />
      <hr class="hr" />
    </div>
    <form
      action="http://localhost:5000/add-teacher"
      method="POST"
      style="
        display: flex;
        flex-direction: column;
        border: 1px solid black;
        width: 400px;
        height: 550px;
        border-radius: 5px;
        margin: 60px auto;
        background-color: white;
      "
    >
      <div style="margin-top: 10px; display: flex; flex-direction: column">
        <label for="fullname" style="font-size: larger; padding: 0 20px"
          >Full Name</label
        >
        <input
          type="text"
          name="fullname"
          style="width: 60%; height: 20px; padding: 5px; margin: 5px 20px"
        />
      </div>
      <div style="margin-top: 10px; display: flex; flex-direction: column">
        <label for="age" style="font-size: larger; padding: 0 20px">Age</label>
        <input
          type="number"
          name="age"
          style="width: 60%; height: 20px; padding: 5px; margin: 5px 20px"
        />
      </div>
      <div style="margin-top: 10px; display: flex; flex-direction: column">
        <label for="date_of_birth" style="font-size: larger; padding: 0 20px"
          >Date of Birth</label
        >
        <input
          type="date"
          name="date_of_birth"
          style="width: 60%; height: 20px; padding: 5px; margin: 5px 20px"
        />
      </div>
      <div style="margin-top: 10px; display: flex; flex-direction: column">
        <label
          for="number_of_classes"
          style="font-size: larger; padding: 0 20px"
          >Number of classes</label
        >
        <input
          type="number"
          name="number_of_classes"
          style="width: 60%; height: 20px; padding: 5px; margin: 5px 20px"
        />
      </div>
      <div style="margin-top: 10px; display: flex; flex-direction: column">
        <label for="subject" style="font-size: larger; padding: 0 20px"
          >Subject</label
        >
        <input
          type="text"
          name="subject"
          style="width: 60%; height: 20px; padding: 5px; margin: 5px 20px"
        />
      </div>
      <div style="margin-top: 10px; display: flex; flex-direction: column">
        <label for="experience" style="font-size: larger; padding: 0 20px"
          >Experience</label
        >
        <input
          type="number"
          name="experience"
          style="width: 60%; height: 20px; padding: 5px; margin: 5px 20px"
        />
      </div>
      <input
        type="submit"
        value="Add Details"
        style="
          width: 150px;
          height: 30px;
          background-color: rgb(141, 66, 211);
          border-radius: 3px;
          border: 1px solid rgb(141, 66, 211);
          color: white;
          font-size: 1.2em;
          margin: 30px auto 10px;
        "
      />
    </form>
  </body>
</html>
